@model IEnumerable<Dominio.Model.Cidade>
<div class="jumbotron">
    <h1>Clima Tempo Simples</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Cidades mais quentes hoje</h2>
        @foreach (var cidade in Model)
        {
            <p>@Html.DisplayFor(modelItem => cidade.Nome)</p>
        }
    </div>
    <div class="col-md-4">
        <h2>Cidades mais frias hoje</h2>
    </div>
    <div class="col-md-12">
        <h2>Clima para os próximos sete dias na cidade de @ViewBag.Title</h2>
    </div>
</div>
